/*==============================FONTS==============================*/
@font-face {
    font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSansBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSansItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}