/*==============================VARS==============================*/
$bg-color: #12110F;
$bg-color-accent: #171614;

$color-main: #CA9969;
$color-main-dark: #B66E28;

$fin: #0cbe54;
$prof: #1f8efa;
$fiz: #eb5a46;
$self: #fc9228;